.topDet {
  background-color: #2d0c5e;
  display: flex;
  justify-content: center;
}
.containerTopDet {
  width: 800px;
  height: auto;
  padding-top: 50px;
  display: flex;
}

.posterFilmeDet {
  width: 270px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0.1em 0.1em #000000;
  position: absolute;
}
.detFilmeTexto {
  padding: 0 50px;
  margin-left: 270px;
}
.detTituloFilme {
  font-size: 20px;
  font-weight: bold;
}
.detAvaliacaoUsuarios {
  display: flex;
  padding: 10px 0;
}
.detTituloAvaliacaoUsuarios {
  padding-left: 20px;
  width: 100px;
}
.detIdadeDataLancGenDur {
  padding: 5px 0;
  font-size: 14px;
}
.detTituloSinopse {
  font-size: 20px;
  font-weight: bold;
  padding: 5px 0;
}
.detSinopse {
  display: flex;
  flex-direction: column;
}
.detTextoSinopse {
  font-size: 16px;
}
.detContainerPessoaDepartGrupo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 30px;
}
.detPessoaDepartGrupo {
  display: grid;
  grid-auto-flow: row;
  font-size: 12px;
  padding: 10px 10px 0 0;
}
.detPessoaNome {
  font-weight: bold;
}
.botaoVoltar {
  position: fixed;
  bottom: 5%;
  left: 75%;
}
@media (max-width: 799px) {
  .containerTopDet {
    text-align: left;
    padding: 50px 10px 10px 10px;
    width: 425px;
    display: flex;
    flex-direction: column;
  }
  .posterFilmeDet {
    position: inherit;
    width: 150px;
    height: auto;
  }
  .detFilmeFoto {
    display: flex;
    justify-content: center;
  }
  .detFilmeTexto {
    padding: 50px 10px 10px 10px;
    margin-left: 0;
  }
  .detIdadeDataLancGenDur {
    display: flex;
    flex-direction: column;
  }
  .separador{
    display: none;
  }
  .detContainerPessoaDepartGrupo {
    grid-template-columns: 1fr 1fr;
  }

  .botaoVoltar {
    position: fixed;
    bottom: 5%;
    left: 70%;
  }
}
