.recomendacao {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.containerRecomendacao {
  padding: 20px 0;
  color: #000000;
  display: flex;
  flex-direction: column;
}
.tituloRecomendacao {
  padding: 20px 0;
  font-weight: bold;
  font-size: 20px;
}
.grupoRecomendacao {
  width: 800px;
  display: flex;
  padding: 10px 0;
  overflow-y: auto;
}
.fotoFilme {
  width: 150px;
  height: 225px;
}
.filme {
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}
.nomeFilme {
  font-weight: bold;
  padding: 10px 0;
}

@media (max-width: 799px) {
  .grupoRecomendacao {
    width: 425px;
  }

  .tituloRecomendacao {
    padding: 0 20px;
  }
}
