.top {
  background-color: #2d0c5e;
  display: flex;
  justify-content: center;
}
.titulo {
  font-size: 42px;
  font-weight: bold;
}
.containerTop {
  width: 800px;
  height: 350px;
  padding-top: 50px;
  text-align: center;
}
.containerFiltros {
  padding-top: 50px;
}
.botaoFiltros {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.filtros {
  font-weight: bold;
  background-color: #ffffff;
  color: #000000;
  padding: 5px 15px;
  border-radius: 5px;
  border: #000000;
  margin: 5px;
}
