.top {
  background-color: #2d0c5e;
  display: flex;
  justify-content: center;
}
.titulo {
  font-size: 42px;
  font-weight: bold;
}
.containerTop {
  width: 800px;
  height: auto;
  padding: 50px 0;
  text-align: center;
}
.containerFiltros {
  padding-top: 50px;
}
.botaoFiltros {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.filtros {
  font-weight: bold;
  background-color: #ffffff;
  color: #000000;
  padding: 5px 15px;
  border-radius: 5px;
  border: #000000;
  margin: 5px;
}
@media (max-width: 799px) {
  .titulo {
    font-size: 30px;
    font-weight: bold;
  }
  .containerTop {
    text-align: left;
    padding: 50px 10px;
    width: 425px;
  }
  .botaoFiltros {
    justify-content: left;
  }
}
